body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .logo img {
    height: 50px;
}

.header .title h1, .header .title h2 {
    margin: 0;
    color: #333;
}

.header .filters button {
    background-color: #1f8ecd;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.header .filters button:hover {
    background-color: #136ca8;
}

/* Layout em Grade */
.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

/* Seções do Dashboard */
.tabela-receitas, .analise-receita, .acompanhamento-meta, .kpi {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabela-receitas h3, .analise-receita h3, .acompanhamento-meta h3, .kpi h3 {
    color: #1f8ecd;
    font-size: 1.4em;
    margin-bottom: 20px;
}

#fileTable, #uploadedFilesTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 0.9em;
}

#fileTable th, #fileTable td, #uploadedFilesTable th, #uploadedFilesTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#fileTable th, #uploadedFilesTable th {
    background-color: #f9f9f9;
    color: #333;
}

#feedbackContainer, .scroll-container {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

/* Indicadores e Gráficos */
#indicatorsContainer {
    background-color: #23272a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

#indicatorsContainer h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #7289da;
}

#indicatorsContainer div {
    margin-bottom: 20px;
    font-size: 1.2em;
}

/* Estilo dos gráficos */
canvas {
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* KPI e valores importantes */
.kpi-value h4 {
    font-size: 2em;
    margin: 0;
    color: #1f8ecd;
}

.kpi-value p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #333;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #666;
    font-size: 0.8em;
    border-top: 1px solid #ccc;
}